* {
    margin: 0;
    padding: 0;
    border: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
html {
    text-align: center;
}
body {
    margin-left: auto;
    margin-right: auto;
    padding-left: 24pt;
    font-family:
        "Verdana", "Helvetica", "Arial",
        "Bitstream Vera Sans", sans-serif;
    font-size: 11pt;
    line-height: 18pt;
    text-align: left;
}


h1, h2, h3, h4, h5, h6, hr {
    margin-left: -24pt;
    margin-bottom: 12pt;
}
h1, h2 {
    padding-bottom: 1pt;
    border-bottom: 3pt solid #ccc;
}
hr {
    margin-top: 12pt;
    border-top: 3pt solid #ccc;
}


p {
    margin-bottom: 6pt;
}
li p {
    margin: 0;
}
li {
    margin-left: 24pt;
    margin-bottom: 6pt;
}
li li {
    margin-top: 6pt;
    margin-bottom: 0;
}


figure {
    display: inline-block;
    width: 100%;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2pt solid #ccc;
    padding: 3pt;
}
figcaption, caption {
    font-weight: bold;
}


dl {
    margin-left: 24pt;
}
dt {
    font-weight: bold;
}
dt:after {
    font-weight: normal;
    content: ":";
}
dd {
    margin-left: 24pt;
    margin-bottom: 6pt;
}


table {
    margin-top: 6pt;
    margin-left: 24pt;
    margin-bottom: 6pt;
    border: 2pt solid #ccc;
    border-collapse: collapse;
}
th {
    background-color: #eee;
}
th, td {
    border: 2pt solid #ccc;
    padding: 3pt;
}


blockquote {
    margin-left: 6pt;
    padding-left: 18pt;
    border-left: 5px solid #ccc;
    color: #888;
}


code {
    background-color: #f8f8ff;
    border: 1px solid #dedede;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
pre {
    font-size: 9pt;
    margin-left: 24pt;
    margin-right: 48pt;
    padding: 4pt;
    border: 1px solid #ddd;
    background-color: #eee;
    overflow: hidden;

    -webkit-box-shadow: rgba(0,0,0,0.07) 0 1px 2px inset;
    -moz-box-shadow: rgba(0,0,0,0.07) 0 1px 2px inset;
    -ms-box-shadow: rgba(0,0,0,0.07) 0 1px 2px inset;
    -o-box-shadow: rgba(0,0,0,0.07) 0 1px 2px inset;
    box-shadow: rgba(0,0,0,0.07) 0 1px 2px inset;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
pre, code {
    font-family:
        "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Lucida Console",
        "Consolas", "Courier New", "Courier",
        monospace;
    color: #444;
}
pre code {
    background-color: #eee;
    border: none;
}


@media screen and (min-width: 768px) {
    body {
        width: 748px;
    }
}
